<div class="OurAmaizingWork">
    <div class="header">
      <h1>Our Amaizing Work<h1></h1>
      </h1>
    </div>
    <div class="hyperText">
      <a class="active-top">
        all
      </a>
      <a>
        blah blah
      </a>
      <a>
        blah blah
      </a>
      <a>
        blah blah
      </a>
      <a>
        blah blah
      </a>
    </div>
    <div class="ourContent">
      <div class="use block ">
        <h2>X X</h2>
        <h3>BlahBlah</h3>
        <span>klsfjsej</span>
      </div>
      <div class="block grey"></div>
      <div class="block"></div>
      <div class="block grey"></div>
      <div class="block grey"></div>
      <div class="block "></div>
      <div class="block grey"></div>
      <div class="block "></div>
      <div class="block"></div>
      <div class="block grey"></div>
      <div class="block "></div>
      <div class="block grey"></div>
    </div>
    <div>
      <button>+ LOAD HOME</button>
    </div>
  </div>