<div class="creativeFeatures">
    <div class="header">
      <h1>Creative Amaizing Features<h1></h1>
      </h1>
    </div>
    <div class="featuresContainer">
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span class="active">blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
    </div>
  </div>