<div class="aboutOurCompany">
    <div class="empty">
      <div class="" style="width: 100%;"></div>
      <div class="" style="width: 100%;"></div>
      <div class="grey" style="width: 65%;"></div>
      <div class="grey" style="width: 80%;"></div>
      <div class="grey" style="width: 95%;"></div>
      <div class="grey" style="width: 95%;"></div>
      <div class="grey" style="width: 95%;"></div>
      <div class="grey" style="width: 95%;"></div>
    </div>
    <div class="aboutContainer">
      <div class="header">
        <h1>About Our Company <h1></h1>
        </h1>
      </div>
      <div class="aboutContentHyperText">
        <a href="#">Our History</a>
        <a href="#">Our BlaBla</a>
        <a href="#" class="active-top">Our Skils</a>
      </div>
      <div class="aboutContent">
        <div><span class="precent-70 purple">
            <h5>BlahBlah</h5>
          </span> </div>
        <div>
          <span class="precent-85 blue">
            <h5>Web design</h5>
          </span>
        </div>
        <div><span class="precent-65 orange">
            <h5>Wordpress</h5>
          </span></div>
        <div><span class="precent-90 green">
            <h5>HTML CSS</h5>
          </span></div>
        <div><span class="precent-80 yelow">
            <h5>BlahBlah</h5>
          </span></div>
      </div>
    </div>
  </div>