<div class="navbar">
    <div class="containerNavbar">
      <label for="">COMPANY</label>
      <div class="menu">
        <a href="#" class="active-bottom">Link 1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <button></button>
      </div>
    </div>
  </div>