html{
    scroll-behavior: smooth;
    margin: 0
}
body{
    margin: 0;
}
app-navbar{
    width: 100%;
}
app-home{
    width: 100%;
}
app-services{
    width: 100%;
}
app-features{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
app-about{
    width: 100%;
}
app-our-work{
    width: 100%;
}
