<div class="main">
  <!-- NAVBAR -->
   <div class="navbar">
      <div class="containerNavbar">
        <label for="">COMPANY</label>
        <div class="menu">
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <a href="#">Link 1</a>
            <button>search</button>
        </div>
      </div>
   </div>
  <!-- MAIN PAGE -->
  <div class="home">
    <div class="hello">
      <h4>THE HAM IS <span>WORDPRESS THEME</span></h4>
      <h1>WE ARE CREATIVE</h1>
      <p>Just Buy And Enjoy These Awesome Features</p>
    </div>
    <div class="helloFoot">
      <div class="empty"></div>
      <div class="helloFootButtons">
        <button class="butGreen">Lorem Ipsum</button>
        <button class="butBlue">Lorem Ipsum</button>
      </div>
      <div class="slider">
        <div class="blackBox"></div>
        <div class="sliderButtons">
          <button class="butLeft">⇦</button>
          <button class="butRight">⇨</button>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="serviceDark">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
    <div class="serviceGreen">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
    <div class="serviceDark">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
    <div class="serviceGreen">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
  </div>
</div>