<div class="main">
  <!-- NAVBAR -->
  <div class="navbar">
    <div class="containerNavbar">
      <label for="">COMPANY</label>
      <div class="menu">
        <a href="#" class="active-bottom">Link 1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <a href="#"><span>Link</span>1</a>
        <button></button>
      </div>
    </div>
  </div>
  <!-- MAIN PAGE -->
  <div class="home">
    <div class="hello">
      <h4>THE HAM IS <span>WORDPRESS THEME</span></h4>
      <h1>WE ARE CREATIVE</h1>
      <p>Just Buy And Enjoy These Awesome Features</p>
    </div>
    <div class="helloFoot">
      <div class="empty"></div>
      <div class="helloFootButtons">
        <button class="butGreen">Lorem Ipsum</button>
        <button class="butBlue">Lorem Ipsum</button>
      </div>
      <div class="slider">
        <div class="blackBox"></div>
        <div class="sliderButtons">
          <button class="butLeft">⇦</button>
          <button class="butRight">⇨</button>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="serviceDark">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
    <div class="serviceGreen">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
    <div class="serviceDark">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
    <div class="serviceGreen">
      <h1>X</h1>
      <h6>DIFFERENT OPTIONS BLA BLA</h6>
    </div>
  </div>
  <div class="creativeFeatures">
    <div class="header">
      <h1>Creative Amaizing Features<h1></h1>
      </h1>
    </div>
    <div class="featuresContainer">
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span class="active">blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
      <div class="features">
        <div class="featuresHeaders">
          <h1>X</h1>
          <span>blah blah features</span>
        </div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nostrum, cumque quia sequi accusantium veritatis
          porro magnam assumenda quos, illo numquam repellendus.
        </span>
      </div>
    </div>
  </div>
  <div class="aboutOurCompany">
    <div class="empty">
      <div class="" style="width: 100%;"></div>
      <div class="" style="width: 100%;"></div>
      <div class="grey" style="width: 65%;"></div>
      <div class="grey" style="width: 80%;"></div>
      <div class="grey" style="width: 95%;"></div>
      <div class="grey" style="width: 95%;"></div>
      <div class="grey" style="width: 95%;"></div>
      <div class="grey" style="width: 95%;"></div>
    </div>
    <div class="aboutContainer">
      <div class="header">
        <h1>About Our Company <h1></h1>
        </h1>
      </div>
      <div class="aboutContentHyperText">
        <a href="#">Our History</a>
        <a href="#">Our BlaBla</a>
        <a href="#" class="active-top">Our Skils</a>
      </div>
      <div class="aboutContent">
        <div><span class="precent-70 purple">
            <h5>BlahBlah</h5>
          </span> </div>
        <div>
          <span class="precent-85 blue">
            <h5>Web design</h5>
          </span>
        </div>
        <div><span class="precent-65 orange">
            <h5>Wordpress</h5>
          </span></div>
        <div><span class="precent-90 green">
            <h5>HTML CSS</h5>
          </span></div>
        <div><span class="precent-80 yelow">
            <h5>BlahBlah</h5>
          </span></div>
      </div>
    </div>
  </div>
  <div class="OurAmaizingWork">
    <div class="header">
      <h1>Our Amaizing Work<h1></h1>
      </h1>
    </div>
    <div class="hyperText">
      <a class="active-top">
        all
      </a>
      <a>
        blah blah
      </a>
      <a>
        blah blah
      </a>
      <a>
        blah blah
      </a>
      <a>
        blah blah
      </a>
    </div>
    <div class="ourContent">
      <div class="use block ">
        <h2>X X</h2>
        <h3>BlahBlah</h3>
        <span>klsfjsej</span>
      </div>
      <div class="block grey"></div>
      <div class="block"></div>
      <div class="block grey"></div>
      <div class="block grey"></div>
      <div class="block "></div>
      <div class="block grey"></div>
      <div class="block "></div>
      <div class="block"></div>
      <div class="block grey"></div>
      <div class="block "></div>
      <div class="block grey"></div>
    </div>
    <div>
      <button>+ LOAD HOME</button>
    </div>
  </div>
</div>