<div class="home">
    <div class="hello">
      <h4>THE HAM IS <span>WORDPRESS THEME</span></h4>
      <h1>WE ARE CREATIVE</h1>
      <p>Just Buy And Enjoy These Awesome Features</p>
    </div>
    <div class="helloFoot">
      <div class="empty"></div>
      <div class="helloFootButtons">
        <button class="butGreen">Lorem Ipsum</button>
        <button class="butBlue">Lorem Ipsum</button>
      </div>
      <div class="slider">
        <div class="blackBox"></div>
        <div class="sliderButtons">
          <button class="butLeft">⇦</button>
          <button class="butRight">⇨</button>
        </div>
      </div>
    </div>
  </div>